body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
}
  
.room{
    border: 1px solid black;
    width: 200px;
    height: 500px;
}