.container{
    display: flex;
    height: 200vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}
.box{
    width: 100px;
    height: 100px;
    background-color: rgb(40, 130, 133);
    margin:100px;
}
.b{
    background-color: red;
}